<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Server.dll exec &quot;C:\Projects\NacidNrs\Server\bin\Debug\netcoreapp2.2\Server.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <remove name="Public-Key-Pins" />
          <remove name="Public-Key-Pins-Report-Only" />
          <remove name="X-Powered-By" />
          <remove name="X-Runtime" />
          <remove name="X-Version" />
          <add name="Strict-Transport-Security" value="max-age=31536000" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="10000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 7B42E9D7-C6E7-4E0B-B7F8-FF337376A2A9-->