<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PublicServer.dll exec &quot;C:\Projects\nacidnrs\PublicServer\bin\Debug\netcoreapp2.2\PublicServer.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <remove name="Public-Key-Pins" />
          <remove name="Public-Key-Pins-Report-Only" />
          <remove name="X-Powered-By" />
          <remove name="X-Runtime" />
          <remove name="X-Version" />
          <add name="Strict-Transport-Security" value="max-age=31536000" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: E64D3813-A1FC-4394-A45F-90279BFF8103-->